<div class="back "style="background-color: #329966">
  <div class="container p-3">
   <div class="row">
     <div class="col-lg-3">
 
     </div>
     <div class="col-lg-6 text-white">
       <br>
       <br>
       <p class="display-4">Welcome<br>
       Mercyglaret</p><br>
       <br>
       <br>
       <p class="font2">Tell as your location to find the meeting rooms</p>
     </div><br>
       <br>
       <br>
     <div class="col-lg-3">
 
     </div>
 
   </div>
   <div class="row">
     <div class="col-lg-3">
 
     </div>
     <div class="col-lg-6">
       <form>
           <div class="input-group">
         <input type="google map" class="input--style-3 js-datepicker" name="name" id="name" >
         </div>
         <br>
       </form>
 
     </div>
     <div class="col-lg-3">
 
     </div>
 
   </div>
   <br>
   <br>
   <br>
   <div class="row">
     <div class="col-lg-3">
 
     </div>
     <div class="col-lg-6">
       <p class="text-white font3">We help you to book meeting rooms in multiple locations and keep you notify about you</p>
       <br>
       <a routerLink="/meetingrooms"><button type="button" class="btn p-4"><span class="font">Find Now</span></button></a>
       <br>
       <br>
     </div>
     <div class="col-lg-3">
 
     </div>
 
   </div>
 
  </div>
  </div>