<div class="container-fluid  header bg-dark">
  <div class="row">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
      <br>
         <p class="para1">
             <i class="fa fa-question text-white border p-1" style="font-size:8px"></i>
             <span class="text-white  margin">Your Meetings</span>
         </p>
        </div>
     <div class="col-lg-3 col-md-3"></div>
    </div>
</div>
<div class="container-fluid ">
<div class="row">
  <div class="col-lg-3 col-md-3 "></div>
  <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3"  style="font-size:12px">
      <i class="fa fa-question  border border-dark p-1" style="font-size:8px"></i>&nbsp;
      <span>Today</span>

  </div>
  <div class="col-lg-3 col-md-3"></div>
</div>
</div>


<a routerLink="/bookings">
<div class="container-fluid ">
  <div class="row">
      <div class="col-lg-3 col-md-3 "></div>
      <div class="col-lg-6 col-md-6 col-sm-6">    
          <div class="card flex-row flex-wrap">
              <img src="/assets/img/image.png">
              <div class="card-block px-2">
                  <div class="d-flex">
                  <p class="card-text mb-0 mr-5">Paris Towers</p>
   
                  </div>
                  <span class="card-text cardtext" >Floor 2,4th street,Kallang</span><br>
                  <span class="card-text">
                      
                    <i class="fa fa-question  border border-dark p-1" style="font-size:8px"></i>
                      <span class="cardtext">11am - 12pm</span>
                     
                  </span>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 mt-3"></div>
  </div>
</div>
</a>

