<div class="container-fluid ">
  <div class="row">
      <div class="col-lg-12 firstimage text-center text-white">
          <h1 class="font">LOBBY</h1>
          <p class="para">It's time to book your space </p>
          <br><br><br><br><br><br><br><br><br>
          <a routerLink="/home">
            <button type="submit"  class="btn btn-md border-white text-white create">Create Account</button></a>
          <br>
          <p class="mb-5 login">Already have an account? <a href="#" id="a">Login</a></p>
      </div>
  </div>
</div>