<div class="container-fluid  header bg-dark">
  <div class="row">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
      <br>
         <p class="para1">
             <i class="fa fa-question text-white border p-1" style="font-size:10px"></i>
             <span class="text-white  margin"> Back</span>
         </p>
        </div>
     <div class="col-lg-3 col-md-3"></div>
    </div>
</div>
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-3 col-md-3"></div>
     <div class="col-lg-6 col-md-6 col-sm-12 p-0 m-0">
         <img src="assets/img/image.png" class="img">
         <br><br>
         <div class="mr-2 ml-2">
         <div class="d-flex">
             <p class="card-text mb-0 mr-5">{{final.name}}</p>
                 <span  id="upper_right">
                     <i class="fa fa-video-camera"></i>
                     <i class="fa fa-wifi"></i>
                 </span>
         </div>
         <span class="card-text cardtext" >{{final.seat}}</span><br>
     </div>
     </div>
 </div>
</div>
<div class="container-fluid mt-3">
 <div class="row ">
     <div class="col-lg-3 col-md-3"></div>
     <div class="col-lg-6 col-md-6 col-sm-12 border border-secondary ">
         <i class="fa fa-question   p-2" style="font-size:10px"></i>
          <span class="cardtext">10 Seats</span><br>
     </div>
     <div class="col-lg-3 col-md-3"></div>
 </div>
</div>
<br>
<br>
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-3 col-md-3"></div>
     <div class="col-lg-6 col-md-6 col-sm-12 text-center">
         <h5>11am-12pm</h5>
         <br>
         <div id="change">
         <button class="but active">Everyday</button>
         <button class="but">Weekday</button>
         </div>
         <br>
         <br><br>
         <button type="button" class="btn text-white">Book</button>
         <br><br>
     </div>
      <div class="col-lg-3 col-md-3"></div>
 </div>
</div>