.header{
    width: 100%;
    height: 70px;
 }
 .img{
    width: 100%;
    height: 200px;
 }
 .cardtext{
    font-size:12px;
 }
 #upper_right {
    position: absolute;
    right: 2%;
    color: #94919a;
 }
 .but{
    border-radius: 400px !important ;
    height: auto;
    background-color: white;
    border: 1px solid black !important;
    outline: none !important;
    width: 130px;
      cursor: pointer;
 
 
 }
 .active,.but:hover {
    background-color: black;
    color: white !important;
 }
 .btn{
    width: 100%;
    height: auto;
    background-color: #329966 !important;
 
 }